body{
    background-color: rgb(180, 255, 127);
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}