:root{
    --primario:rgb(59, 138, 199);
    --secundario:rgb(144, 88, 36);
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Anton";
    font-size: 16px;
}

/*utilidades*/
.contenedor{
    width: 75%;
    margin: 0 auto;
}

.bg-secundario{
    background-color:cadetblue;
}
h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

.titulo{
    color: aqua;
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    color: rgb(161, 208, 96);
    font-size: 2.5rem;
}
p{
    font-size: 2,6rem;
}

.navegación-principal{
    background-color: cadetblue;
}

.navegación-principal a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;

}

.navegación-principal a:hover{
    color: rgb(161, 208, 96);
}



